      /*
   * Desarrollado por  Anyelith Jineth Jacobo Carrillo Anyelithjacobo@gmail.com, 
   *   sobre diseño de Vladimir Támara y Paola Martinez
   * Ceden el diseño al dominio público de acuerdo a la legislación Colombiana.
   *
   * Fuente Jura de Google, iconos de fontawesome 
   * Menu basado en los videos=>https://www.youtube.com/watch?v=F4BCaUHo2Y0&lc=Ugw1PId5urw_HnFIeUh4AaABAg
   * https://www.youtube.com/watch?v=uZ7YQInnWqA
   */
  
  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  img {
      max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: "Jura", sans-serif;
      font-weight: bold;
  }
  
  a {
      text-decoration: none;
  }
  
  @font-face {
      font-family: "escuela-cursiva";
      src: url(https://www.pasosdejesus.org/escuela-cursiva.otf) format("truetype");
  }
  
  @font-face {
      font-family: 'Jura';
      src: url(https://fonts.googleapis.com/css?family=Jura&display=swap) format("truetype");
  }
  
  .texto-versiculo {
      font-style: italic;
  }
  
  body {
      font-family: 'Jura', sans-serif;
      font-size: 1em;
      color: #000;
  }
  
  a {
      text-decoration: none;
  }
  
  ul {
      list-style: none;
  }
  
  .encabezado-principal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 2rem .5rem;
      background-color: #66a3bf;
      height: 15vh;
      width: 100%;
      position: fixed;
  }
  
  .nav-pricipal {
      width: 100%;
      height: 2.8rem;
      line-height: 6rem;
      position: relative;
  }
  
  .menu-principal {
      background-color: rgba(0, 0, 0, 0.95);
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      color: #fff;
      -webkit-transition: opacity 650ms;
      -o-transition: opacity 650ms;
      transition: opacity 650ms;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      opacity: 0;
      text-align: center;
  }
  
  .menu-principal__link {
      color: #fff;
  }
  
  .menu-principal.menu-open {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
  
  .nav-pricipal .menu-principal ul {
      position: relative;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-pricipal .menu-principal ul li {
      text-transform: uppercase;
  }
  
  .nav-pricipal .menu-principal ul li a {
      display: block;
      font-size: 2rem;
      -webkit-transition: all 650ms;
      -o-transition: all 650ms;
      transition: all 650ms;
  }
  
  .nav-pricipal .menu-principal ul li a:hover,
  .nav-pricipal .menu-principal ul li a.active:hover {
      color: #66a3bf;
  }
  
  .menu {
      padding: 1.8rem 2rem;
      position: fixed;
      top: 0.8rem;
      right: 3rem;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
      border-radius: 3px;
      cursor: pointer;
  }
  
  .menu .bar,
  .menu .bar::before,
  .menu .bar::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 2rem;
      background-color: #ebebd3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      -webkit-transition: 650ms;
      -o-transition: 650ms;
      transition: 650ms;
  }
  
  .menu .bar:before {
      top: -1rem;
  }
  
  .menu .bar::after {
      top: 1rem;
  }
  
  .active .bar {
      background-color: transparent;
  }
  
  .active .bar::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
  }
  
  .active .bar::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0;
  }
  
  .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: black;
      font-size: 1.5rem;
      margin-top: -30px;
      padding: .2rem 0;
      font-family: escuela-cursiva, sans-serif;
  }
  
  .logo img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 8vh;
      padding-left: 2rem;
  }
  
  .logo-titulo {
      line-height: .1rem;
      margin-top: -35px;
      padding-bottom: 2rem;
  }
  
  .contenedor {
      max-width: 1100px;
      padding: 0 8% 0 8%;
      padding-bottom: 5%;
  }
  
  .principal-piePag {
      background-color: #66a3bf;
      font-size: 1.5rem;
      padding: 3rem 0;
      color: #fff;
      font-family: 'Jura', sans-serif;
      text-align: center;
  }
  
  .piePag-contenidos,
  .piePag-contenido__izquierda {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  
  .piePag-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  
  .footer-menu__link {
      padding-right: 2rem;
      color: #fff;
  }
  
  .piePag-contenido__derecha {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
  }
  
  .piePag-contenidos {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%;
  }
  
  .social-icon {
      font-size: 2em;
      padding: 40% 0;
  }
  
  .bandera-contenidos__titulo,
  .bandera-contenidos__subtitulo,
  .servicios-contenidos__titulo,
  .productos-titulo,
  .jesus-titulo {
      font-size: 2.7rem;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 3%;
      text-align: center;
  }
  
  .bandera {
      /* Foto tomada en Paramo de Chingaza, Laguna El Pato por vtamara@pasosdeJesus.org, en Dic.2016 */
      background-image: url("../imagenes/chingaza.png");
      background-repeat: no-repeat;
      min-height: 100vh;
      background-position: center center;
      background-size: cover;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-attachment: fixed;
      font-family: 'Jura', sans-serif;
  }
  
  .bandera-contenidos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 8rem;
      text-align: center;
  }
  
  .bandera-contenidos__contenido {
      font-size: 1.7rem;
  }
  
  .bandera-contenidos__titulo {
      font-family: escuela-cursiva;
      font-size: 4rem;
      font-weight: 400;
      padding-bottom: 0;
  }
  
  .bandera-contenidos__subtitulo {
      font-size: 1.5rem;
      padding-bottom: 0;
  }
  
  .servicios,
  .productos,
  .jesus {
      padding: 9% 0 0 0;
  }
  
  .productos {
      background-color: #dce8e6;
  }
  
  .subtitulo {
      font-weight: bold;
  }
  
  .servicios-contenidos,
  .productos-contenido,
  .jesus-contenido {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-family: 'Jura', sans-serif;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  
  .servicios-contenidos__derecho {
      font-size: 1rem;
  }
  
  .servicios-contenido__izquierdo {
      text-align: center;
      padding-top: 5%;
      margin-left: 5%;
  }
  
  .productos-contenido__titulo {
      padding: 1.9rem;
      font-size: 1.5rem;
      font-family: 'Montserrat Alternates', sans-serif;
  }
  
  .productos-contenido__uno {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
      flex: 1 0 30%;
      /*  padding: 0 5% 10% 0; */
  }
  /*Jesus*/
  
  .jesus-medios__pagos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 70%;
      margin-bottom: 5%;
  }
  
  .jesus-tweets {
      border: 2px solid #979794;
      border-radius: 1%;
      width: 93%;
  }
  
  .jesus-tweets__encabezado {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 5%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 1px solid #979794;
  }
  
  .jesus-tweets__cuerpo {
      height: 70vh;
      overflow: auto;
  }
  
  .jesus-tweet {
      padding: 5%;
  }
  
  .jesus-tweet__cajas {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 1% 0 0 5%;
  }
  
  .jesus-tweet__encabezado {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding-bottom: 2%;
      border-bottom: 1px solid #979794;
  }
  
  .jesus-tweet__caja {
      border: 1px solid #979794;
      width: 45%;
      padding: 5%;
      border-radius: 15px 0px 0px 15px;
  }
  
  .jesus-tweet__imagen {
      height: 90%;
      width: 90%;
  }
  
  .jesus-tweet__subencabezado {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  
  .jesus-tweet-perfil {
      width: 15%;
      border: 1px solid transparent;
      border-radius: 50%;
  }
  
  .jesus-tweet__pie,
  .jesus-tweet__subpie {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 5%;
  }
  
  .jesus-tweet__subcontenido {
      margin-top: 8%;
  }
  
  .opuesta {
      border-radius: 0px 15px 15px 0px;
  }
  
  .pagos-icon {
      font-size: 2.5em;
  }
  
  @media screen and (min-width: 768px) {
      .contenedor {
          padding: 0 15% 0 15%;
      }
      .menu {
          right: 7rem;
      }
      .servicios-contenido__izquierda {
          text-align: center;
      }
      .jesus-tweets {
          width: 70%;
      }
      .servicios,
      .productos,
      .jesus {
          padding-bottom: 5%;
      }
      .boton {
          margin: 5%;
          width: 60%;
      }
      .piePag-contenido__izquierda {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
      }
  }
  
  @media screen and (min-width: 950px) {
      .menu {
          display: none;
      }
      .main-nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
      }
      .main-nav .menu-principal {
          position: initial;
          background: none;
          opacity: initial;
          -webkit-transform: initial;
          -ms-transform: initial;
          transform: initial;
      }
      .main-nav .menu-principal ul {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          list-style: none;
      }
      .menu-principal__item {
          padding-right: 2rem;
      }
      .main-nav {
          line-height: 2.8rem;
      }
      .main-nav .menu-principal ul li a {
          font-size: 1.5rem;
      }
      .main-nav .menu-principal ul li a:hover,
      .main-nav .menu-principal ul li a .active:hover {
          color: #295163;
      }
      .logo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          font-size: 3.5rem;
          padding: .5rem 0;
          margin-top: -30px;
      }
      .logo-titulo {
          padding: .8rem;
          line-height: 3rem;
          margin-top: 0;
      }
      .logo img {
          height: 12vh;
          padding-left: 0.2rem;
      }
      .contenedor {
          padding: 0;
          margin: 0 auto;
      }
      .servicios-contenidos,
      .productos-contenido,
      .jesus-contenido {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          height: 100vh;
      }
      .bandera-contenidos__titulo,
      .bandera-contenidos__subtitulo {
          text-align: start;
      }
      .productos-contenido {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
      }
      .productos-contenido__centro {
          padding: 0 3%;
      }
      .servicios-contenidos__derecho,
      .jesus-contenido__derecho {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 60%;
          flex: 1 0 60%;
          margin-right: 5%;
      }
      .servicios-contenido__izquierdo {
          text-align: center;
          padding-top: 0%;
          /*  align-self: center; */
      }
      .servicios-contenido__izquierdo,
      .jesus-contenido__izquierdo {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 25%;
          flex: 1 0 25%;
      }
      /* .productos-contenido, */
      .jesus-tweets {
          margin-right: 8%;
          width: 92%;
      }
      .boton {
          margin: 5% 8%;
          width: 70%;
      }
      .principal-piePag {
          margin-top: 4rem;
      }
      .piePag-contenidos,
      .piePag-contenido__izquierda,
      .piePag-menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
      }
      .social-icon {
          padding: 0;
      }
      .boton {
          background-color: #66a3bf;
          color: #fff;
          border: 1px solid transparent;
          border-radius: 8px;
          padding: 3% 10%;
          margin: 5% 10%;
          width: 70%;
          text-align: center;
      }
      @media screen and (min-width: 768px) {
          .boton {
              margin: 5% 0%;
          }
      }
      @media screen and (min-width: 768px) {
          .boton {
              margin: 5% 12%;
          }
      }